.content{
    max-width: 400px;
    max-height: 600px;
    margin: auto;
    background: #f3f3f3;
    height: 450px;
    padding: 2%;
    border: 1px solid;
}
.content h1{
    text-align: center;

}

input [type=text]{
    width: 75%;
    height: 25px;
    margin-bottom: 10px;
}
input[type=button]{
    border: none;
    width: 15%;
    float: right;
    height: 35px;
}
button, input[type=button]{cursor:pointer;}

button:hover , input[type=button]:hover{
    background: #b9a6d8fb
}

button{
    float: right;
    width: 25px;
    padding: 5px;
}
ul{
    list-style-type: none;
    padding: 10px;
    height: 80%;
    background: #fff
}
li{
    height: 25px;
    margin: 10px 0 10px 0;
    border-bottom: 1px solid;
}